#rcorners{
    border-radius: 25px;
    border: 5px solid #c06ac5;
    padding: 1px;
    
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #c06ac5;
    font-size: 36px;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}


a:link, a:visited {
    color: #c06ac5;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #c06ac5;
    display: inline-block;

}

a:hover {
    background-color: #4a104e;
    border-color: #4a104e;
    color: white;
    transition: 0.3s;
}

.video {
    display: flex;
    justify-content: center;
}

body {
    padding: 20px;
    font-size: 14px;
}

#user-registration-form { /* split screen */
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.left-side {
    background-color: #b5b5b5;
    padding: 20px;
    width: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 700px;

}

.bottom-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.day-of-week {
    display: flex;
    flex-direction: column;
}

.fav-color {
    display: flex;
    flex-direction: column;
    width: 200px;
}


.right-side {
    flex: 1;
    text-align: center;
}

.my-face img {
    width: 75%;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#submit-btn:hover{
    background-color: #4a104e !important; 
    color: white;
    transition: 0.3s;
}