:root {
    /* base colors */
    --color-black: #000000;
    --color-dim-grey: #5d6769;
    --color-white: #ffffff;
    
    /* lights */
    --color-pale-sky: #bfd7ea;
    --color-dry-sage: #b6c69d;
    
    /* reds and pinks */
    --color-cotton-rose: #fdd1d3;
    --color-cotton-candy: #fda6a9;
    --color-vibrant-coral: #ff5a5f;
    --color-primary-scarlet: #e50027;
}

.body {
    font-family: 'Arial', sans-serif;
}

.register-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px 10px;
    align-items: center;
    margin: 3px auto 0 auto;
}

.register-container input[type="text"],
.register-container input[type="password"] {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container input[type="checkbox"] {
    justify-self: start;
    width: 18px;
    height: 18px;
    cursor: pointer;
}